@{
    ViewData["Title"] = "Home Page";

}

<div id="load" style="display:none;">
    <img src="~/gif/loading.gif" style="width:50px !important" />
</div>

<div class="text-center">


    <div class="row row-sm" style="margin-top:2%;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" style="background-color:#2F4EB4;">
                    <div class="row col-12">

                        <h3 class="card-title" style="text-align:center; color:white">obilet Otobüs</h3>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row" dis>
                        <div class="col-lg-3">
                            <h5><b>Kalkış Noktası <span style="color:red">*</span></b></h5>

                            <input type="hidden" id="originId" />
                            <input type="text" name="search" id="origin" placeholder="Kalkış" class="form-control" />
                            <ul class="list-group" id="originresult"></ul>


                        </div>
                        <div class="col-lg-1" style="margin-top:3%">
                            <i class="fa fa-exchange fa-2x" onclick="SwapLocation()" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-3">
                            <h5><b>Varış Noktası <span style="color:red">*</span></b></h5>
                            <input type="hidden" id="destinationId" />
                            <input type="text" name="search" id="destination" placeholder="Varış" class="form-control" />
                            <ul class="list-group" id="destinationresult"></ul>

                        </div>
                        <div class="col-lg-2">
                            <h5><b>Gidiş Tarihi <span style="color:red">*</span></b></h5>
                            <input type="text" class="form-control" id="datepicker">
                        </div>
                        <div class="col-lg-1 mt-4">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="option" id="today" value="bugun">
                                <label class="form-check-label" for="today">Bugün</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="option" id="tomorrow" value="yarın">
                                <label class="form-check-label" for="tomorrow">Yarın</label>
                            </div>
                        </div>
                        <div class="col-lg-2" id="divSave" style="display:inline;">
                            <button type="button" id="btnSearch" class="btn btn-primary" onclick="GetBusJourneys()" style="background-color:#2F4EB4 !important; border-color:#2F4EB4 !important; float:right;margin-top: 2.0rem !important; display:block; width:100%;}">
                                <i class="fas fa-search"></i> Biletini Bul
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>



@section Scripts {


    <script src="~/js/Index.js"></script>

     
}